@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  clear: both;
}

#column-1 {
  background: #f694c1;
}

#column-2 {
  background: #ede7b1;
}

#column-3 {
  background: #a9def9;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) { 
  header {
    background-color:#3f7d20;
    width: 50%;
    margin: auto;
  }

  #column-1 {
    background-color: #f3eff5;
  }

  #column-2 {
    background-color: #72b01d;
  }

  #column-3 {
    background-color: #454955;
  }

  footer {
    background-color: #0d0a0b;
    width: 50%;
    margin: auto;
  }

  .col-3 {
    width: 50%;
    margin: auto;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #e75a7c;
    width: 33.33%;
    margin: auto;
  }

  #column-1 {
    background-color: #bbc7a4;
  }

  #column-2 {
    background-color: #f2f5eA;
  }

  #column-3 {
    background-color: #d6dbd2;
    width: 33.33%;
  }

  footer {
    background-color: #2c363f;
    width: 33.33%;
    margin: auto;
  }

  .col-3 {
    width: 33.33%;
    margin: auto;
  }
   
}
